$colorBorder: rgb(120, 90, 40);
$colorFont: rgb(205, 190, 145);
$colorFontActive: rgb(227, 218, 199);
$colorBackground: rgb(1, 10, 19);
$colorBackgroundGreen: rgb(24, 46, 44);
$colorBackgroundBlue: rgb(7, 18, 24);

$heightNav: 75px;
$pathPosition: 16px;
