.loading {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 150;
  opacity: 0;
  visibility: hidden;
  background-color: rgba($colorBackground, 0.75);

  transition: opacity 0.25s ease-out 0.25s, visibility 0.5s, transform 0.5s;

  &.show {
    opacity: 1;
    visibility: visible;
    transform: rotate(0);
  }

  &::after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    background-image: radial-gradient(circle, transparent, rgba($colorBackground, 0.75), $colorBackground);
  }

  .loading-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .line {
      width: 100vw;
      height: 3px;
      //background-color: $colorFont;
      background-image: linear-gradient(90deg, $colorBorder, $colorFont, $colorBorder);
      z-index: 10;
    }

    .backward-circle {
      position: absolute;
      width: 60vh;
      height: 60vh;
      z-index: 10;
      border-radius: 50%;
      box-shadow: 0 0 0 3px $colorBorder inset;
      background-color: $colorBackground;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
        border-radius: 50%;
        border: 3px solid $colorFont;
        border-top: none;
        border-bottom: none;
      }

      .circle-lines-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 60vh;
        height: 60vh;
        top: 0;
        left: 0;

        animation: spin 60s infinite linear;

        span {
          position: absolute;
          width: calc(100% - 2.5vh);
          height: 2px;

          background-color: rgba($colorFont, 0.4);
        }

        @for $i from 1 through 100 {
          .line-#{$i} {
            transform: rotate(calc(#{$i}* 180deg / 100));
          }
        }
      }
    }

    .forward-circle {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 52.5vh;
      height: 52.5vh;

      border-radius: 50%;
      background-color: $colorBackground;
      z-index: 20;

      img {
        width: 25%;
      }

      p {
        margin: 24px 0 8px 0;
        font-weight: bold;
        color: $colorFont;
        font-size: 24px;
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
